
.icon-badminton:before { content: '\e800'; } /* '' */
.icon-google:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-contact:before { content: '\e804'; } /* '' */
.icon-tennis:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-volleyball:before { content: '\e807'; } /* '' */