#social{}
footer{
	margin-top: 10px;
	background-color: #333;
	color : #eee;
	font-size: 12px;
	padding: 20px;
}

.center{
	text-align : center;
}
.rsLink{
	font-size: 2em;
}

ul.unstyled{
	list-style : none;
	padding: 0;
}